#**Model Building on a Synthetic Dataset**

##**Assignment**
The two synthetic datasets were generated using the same underlying data model. Your goal is to build a predictive model using the data in the training dataset to predict the withheld target values from the test set.

You may use any tools available to you for this task. Ultimately, we will assess predictive accuracy on the test set using the mean squared error metric. You should produce the following:

- A 1,000 x 1 text file containing 1 prediction per line for each record in the test dataset.
- A brief writeup describing the techniques you used to generate the predictions. Details such as important features and your estimates of predictive performance are helpful here, though not strictly necessary.
- (Optional) An implementable version of your model. What this would look like largely depends on the methods you used, but could include things like source code, a pickled Python object, a PMML file, etc. Please do not include any compiled executables.

##**Data Description**
We have provided two tab-delimited files along with these instructions:

- codetest_train.txt: 5,000 records x 254 features + 1 target

- codetest_test.txt : 1,000 records x 254 features



###**Practicalities**
The purpose of this test is to test your ability to write software to collect, normalize, store, analyze and visualize “real world” data. You may also use any tools or software on your computer, or that are freely available on the Internet. We prefer that you use simpler tools to more complex ones and that you are “lazy” in the sense of using third party APIs and libraries as much as possible. We encourage the reuse of code when appropriate. If you include code directly in your submission that was written by someone else other than commonly imported modules, please be sure to provide proper attribution, including a URL, text, author, etc. or other available information in the code comments.

Do as much as you can, as well as you can. Prefer efficient, elegant solutions. Prefer scripted analysis to unrepeatable use of GUI tools. For data security and transfer time reasons, you have been given a relatively small data file. Prefer solutions that do not require the full data set to be stored in memory.

There is certainly no requirement that you have previous experience working on these kinds of problems. Rather, we are looking for an ability to research and select the appropriate tools for an open-ended problem and implement something meaningful. We are also interested in your ability to work on a team, which means considering how to package and deliver your results in a way that makes it easy for others to review them. Undocumented code and data dumps are virtually useless; commented code and a clear writeup with elegant visuals are ideal.

#### To download the dataset <a href="https://drive.google.com/drive/folders/1fTWdsoPQCXaqBwrwjZQkzb8t-aA0ijTJ?usp=sharing"> Click here </a>

In [1]:
import pandas as pd


train_data = pd.read_csv('codetest_train.txt', delimiter='\t')


test_data = pd.read_csv('codetest_test.txt', delimiter='\t')


train_data.head()

,target,f_0,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,...,f_244,f_245,f_246,f_247,f_248,f_249,f_250,f_251,f_252,f_253
0,3.066056,-0.653,0.255,-0.615,-1.833,-0.736,NaN,1.115,-0.171,-0.351,...,-1.607,-1.400,-0.920,-0.198,-0.945,-0.573,0.170,-0.418,-1.244,-0.503
1,-1.910473,1.179,-0.093,-0.556,0.811,-0.468,-0.005,-0.116,-1.243,1.985,...,1.282,0.032,-0.061,NaN,-0.061,-0.302,1.281,-0.850,0.821,-0.260
2,7.830711,0.181,-0.778,-0.919,0.113,0.887,-0.762,1.872,-1.709,0.135,...,-0.237,-0.660,1.073,-0.193,0.570,-0.267,1.435,1.332,-1.147,2.580
3,-2.180862,0.745,-0.245,-1.343,1.163,-0.169,-0.151,-1.100,0.225,1.223,...,0.709,-0.203,-0.136,-0.571,1.682,0.243,-0.381,0.613,1.033,0.400
4,5.462784,1.217,-1.324,-0.958,0.448,-2.873,-0.856,0.603,0.763,0.020,...,0.892,-0.433,-0.877,0.289,0.654,1.230,0.457,-0.754,-0.025,-0.931

In [2]:
# Display basic information about the training data
train_data.info()

# Display basic statistics about the training data
train_data.describe()

# Display the first few rows of the test data
test_data.head()

# Display basic information about the test data
test_data.info()

# Display basic statistics about the test data
test_data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Columns: 255 entries, target to f_253
dtypes: float64(251), object(4)
memory usage: 9.7+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Columns: 254 entries, f_0 to f_253
dtypes: float64(250), object(4)
memory usage: 1.9+ MB

,f_0,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,f_9,...,f_244,f_245,f_246,f_247,f_248,f_249,f_250,f_251,f_252,f_253
count,972.000000,983.000000,983.000000,982.000000,978.000000,984.000000,982.000000,978.000000,980.000000,979.000000,...,973.000000,976.000000,985.000000,979.000000,986.000000,980.000000,981.000000,978.000000,979.000000,985.000000
mean,-0.035218,0.100792,0.021098,0.005391,-0.042323,-0.013639,-0.033501,0.025939,0.029102,0.000221,...,0.022764,-0.071009,0.038268,0.053555,-0.021745,-0.028499,-0.025662,0.003518,-0.007108,-0.017024
std,0.978034,0.989471,1.028476,0.989312,1.016019,1.038796,1.018101,0.971878,0.962718,0.999688,...,0.973855,1.010040,0.981809,1.026265,1.028849,0.941963,1.045912,1.001211,0.998150,1.015624
min,-2.997000,-2.760000,-3.517000,-3.017000,-3.332000,-3.241000,-3.441000,-2.828000,-2.911000,-4.457000,...,-2.801000,-4.186000,-3.156000,-4.145000,-3.400000,-2.860000,-3.364000,-2.959000,-2.985000,-3.491000
25%,-0.679000,-0.575000,-0.654000,-0.671750,-0.706000,-0.730000,-0.752000,-0.666000,-0.569000,-0.715000,...,-0.586000,-0.752750,-0.611000,-0.688500,-0.762500,-0.658500,-0.730000,-0.671250,-0.684500,-0.722000
50%,-0.045500,0.149000,0.033000,0.027000,-0.030500,-0.024500,-0.082500,0.017500,0.007500,-0.035000,...,0.020000,-0.099000,0.050000,0.041000,-0.013000,-0.035000,-0.051000,0.030500,0.010000,-0.009000
75%,0.671500,0.715000,0.697000,0.661750,0.594000,0.730500,0.659000,0.681500,0.716500,0.679000,...,0.653000,0.586750,0.691000,0.726000,0.649000,0.587000,0.717000,0.670250,0.679500,0.655000
max,3.022000,3.188000,3.122000,2.927000,3.462000,2.873000,3.730000,3.176000,2.863000,3.023000,...,3.041000,3.496000,3.019000,3.971000,3.047000,3.351000,3.336000,3.083000,2.727000,3.413000

In [4]:
# Identify non-numeric columns in the training dataset
non_numeric_columns_train = train_data.select_dtypes(exclude=['float64']).columns
non_numeric_columns_test = test_data.select_dtypes(exclude=['float64']).columns

print("Non-numeric columns in training data:", non_numeric_columns_train)
print("Non-numeric columns in test data:", non_numeric_columns_test)

# Convert non-numeric columns to numeric where possible, or drop them if not possible
train_data[non_numeric_columns_train] = train_data[non_numeric_columns_train].apply(pd.to_numeric, errors='coerce')
test_data[non_numeric_columns_test] = test_data[non_numeric_columns_test].apply(pd.to_numeric, errors='coerce')

# Impute missing values with the mean of each column for both training and test data
train_data.fillna(train_data.mean(), inplace=True)
test_data.fillna(test_data.mean(), inplace=True)

# Verify if missing values are handled
missing_values_train_after = train_data.isnull().sum()
missing_values_test_after = test_data.isnull().sum()

print("Missing values in training data after imputation:", missing_values_train_after[missing_values_train_after > 0])
print("Missing values in test data after imputation:", missing_values_test_after[missing_values_test_after > 0])

Non-numeric columns in training data: Index(['f_61', 'f_121', 'f_215', 'f_237'], dtype='object')
Non-numeric columns in test data: Index(['f_61', 'f_121', 'f_215', 'f_237'], dtype='object')
Missing values in training data after imputation: f_61     5000
f_121    5000
f_215    5000
f_237    5000
dtype: int64
Missing values in test data after imputation: f_61     1000
f_121    1000
f_215    1000
f_237    1000
dtype: int64

In [5]:

train_data_cleaned = train_data.drop(columns=['f_61', 'f_121', 'f_215', 'f_237'])
test_data_cleaned = test_data.drop(columns=['f_61', 'f_121', 'f_215', 'f_237'])


print("Training data shape after dropping non-numeric columns:", train_data_cleaned.shape)
print("Test data shape after dropping non-numeric columns:", test_data_cleaned.shape)

Training data shape after dropping non-numeric columns: (5000, 251)
Test data shape after dropping non-numeric columns: (1000, 250)

In [6]:
# Separate features and target variable in the training data
X_train = train_data_cleaned.drop(columns=['target'])
y_train = train_data_cleaned['target']

# Features in the test data (they should match X_train features)
X_test = test_data_cleaned

# Verify the shapes
print("X_train shape:", X_train.shape)
print("y_train shape:", y_train.shape)
print("X_test shape:", X_test.shape)

X_train shape: (5000, 250)
y_train shape: (5000,)
X_test shape: (1000, 250)

In [7]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import numpy as np

# Initialize the Linear Regression model
model = LinearRegression()

# Train the model
model.fit(X_train, y_train)

# Make predictions on the test dataset
predictions = model.predict(X_test)

# Check the first few predictions
print("First few predictions:", predictions[:10])

# Save predictions to a text file
np.savetxt('predictions.txt', predictions, fmt='%.6f')

First few predictions: [ 7.51465989  1.03470264  1.53740358  6.15150269  6.11193044  3.95086369
 -5.03314059 -4.76487178  5.26160478 -2.05767167]

In [8]:
import random

# two random indices from the test dataset
random_indices = random.sample(range(X_test.shape[0]), 2)

# corresponding rows from the test dataset
random_samples = X_test.iloc[random_indices]

# predictions for these random samples
random_predictions = model.predict(random_samples)

# the indices and predictions
for idx, prediction in zip(random_indices, random_predictions):
    print(f"Index: {idx}, Prediction: {prediction:.6f}")

Index: 517, Prediction: 0.156188
Index: 192, Prediction: 11.089300